<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cookie Orders</h1>
        <div class="row d-flex align-items-center justify-content-between">
            <p>All Orders:</p>
            <p><a href="#">+ New Order</a></p>
        </div>
    </div>
</body>
</html>